
@import "../utilities/extends";
@import "../utilities/mixins";
@import "../utilities/variables";


@media (max-width:768px){
header{

    .boton-busqueda{
       display: none;
    }

input{
   display:none;
   
}
}

main{
    .container-principal{
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .container-imagen{
            img{
                width:350px;
               margin: 25px;
               border-radius: 10px;
               border: 1px solid rgb(106, 104, 104);
            }
        }
    }

 }

 .grid-container{
    display: none;
 }


    .container-maquillajes-1{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 40px;
        padding: 10px;
        gap: 75px;
           
            img{
               
                justify-content: center;
                align-items: center;
                margin-bottom:30px;
                gap:40px;
                
        }
    }


    .container-maquillajes-2{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 40px;
        padding: 10px;
        gap: 75px;
      

        img{
            justify-content: center;
            align-items: center;
            margin-bottom:30px;
            gap:40px;
            
        }
    }
}






@media (min-width:769px){
    main{

    .container-maquillajes-1{
        display: flex;
        margin: 40px;
        padding: 10px;
        gap: 75px;
    }
}

main{
    .container-maquillajes-2{
        display: flex;
        margin: 40px;
        padding: 10px;
        gap: 75px;
    }
}

}
