/**RESET DE CSS**/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html {
  color: black;
  font-size: 16px;
}

/*HEADER*/
.boton-1, main .grid-container-piel .link-comprar, main .grid-container-fragancias .link-comprar, main .link-comprar {
  background-color: #224948;
  color: #FFE7A9;
  margin: 10px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}

.img, main .grid-container-piel .item-6-piel img, main .grid-container-piel .item-5-piel img, main .grid-container-piel .item-4-piel img, main .grid-container-piel .item-3-piel img, main .grid-container-piel .item-2-piel img, main .grid-container-piel .item-1-piel img, main .grid-container-fragancias .item-6-fragancias img, main .grid-container-fragancias .item-5-fragancias img, main .grid-container-fragancias .item-4-fragancias img, main .grid-container-fragancias .item-3-fragancias img, main .grid-container-fragancias .item-2-fragancias img, main .grid-container-fragancias .item-1-fragancias img, main .container-maquillajes-2 .item-6-maquillaje img, main .container-maquillajes-2 .item-5-maquillaje img, main .container-maquillajes-2 .item-4-maquillaje img, main .container-maquillajes-1 .item-3-maquillaje img, main .container-maquillajes-1 .item-2-maquillaje img, main .container-maquillajes-1 .item-1-maquillaje img {
  padding: 10px;
  margin: 5px;
  height: 420px;
  width: 400px;
}

.parrafo, main .grid-container-piel .item-6-piel p, main .grid-container-piel .item-5-piel p, main .grid-container-piel .item-4-piel p, main .grid-container-piel .item-3-piel p, main .grid-container-piel .item-2-piel p, main .grid-container-piel .item-1-piel p, main .grid-container-fragancias .item-6-fragancias p, main .grid-container-fragancias .item-5-fragancias p, main .grid-container-fragancias .item-4-fragancias p, main .grid-container-fragancias .item-3-fragancias p, main .grid-container-fragancias .item-2-fragancias p, main .grid-container-fragancias .item-1-fragancias p, main .container-maquillajes-2 .item-6-maquillaje p, main .container-maquillajes-2 .item-5-maquillaje p, main .container-maquillajes-2 .item-4-maquillaje p, main .container-maquillajes-1 .item-3-maquillaje p, main .container-maquillajes-1 .item-2-maquillaje p, main .container-maquillajes-1 .item-1-maquillaje p {
  padding: 10px;
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  border-bottom: 1px solid black;
  background-color: #DD9184;
}
header section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
header section h1 {
  color: #224948;
  text-align: center;
  text-decoration: underline;
  font-size: 35px;
  margin-right: 20px;
}
header section h1 .boton-busqueda {
  justify-items: center;
  margin: 5px;
}
header section input {
  border-radius: 7px;
  background-color: #ebe1c7;
}
header section input:focus {
  color: #FFE7A9;
  background-color: #224948;
}
header nav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
header nav ul li a {
  transition: 1s;
  text-decoration: none;
  color: black;
  text-align: center;
  text-decoration: none;
  margin: 7px;
  padding: 10px;
}
header .enlaces :hover {
  color: white;
  margin: 2px;
}

/*/HEADER*/
body {
  background-color: #ebe1c7;
  font-style: oblique;
}

main .container-principal {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .container-principal .container-imagen img {
  width: 45rem;
  margin: 25px;
  border-radius: 10px;
  border: 1px solid rgb(106, 104, 104);
}
main section div p.texto-central {
  color: #FFE7A9;
  background-color: #224948;
  padding: 10px;
  border-radius: 10px;
  margin: 20px;
  text-decoration: underline;
}
main section .container-h2 {
  align-self: center;
  margin-left: 25px;
}
main section h2 {
  text-align: center;
}
main section h2 span {
  color: #DD9184;
  text-decoration: underline;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 190px);
  margin: 25px;
  gap: 10px;
}
.grid-container .grid-item-1 {
  grid-column: 1/2;
  grid-row: 1/4;
}
.grid-container .grid-item-1 img {
  padding: 5px;
  height: 590px;
  width: 450px;
}
.grid-container .grid-item-2 {
  grid-column: 2/3;
  grid-row: 1/4;
}
.grid-container .grid-item-2 img {
  padding: 5px;
  height: 590px;
  width: 450px;
}
.grid-container .grid-item-3 {
  grid-column: 3/4;
  grid-row: 1/4;
}
.grid-container .grid-item-3 img {
  padding: 5px;
  height: 590px;
  width: 450px;
}

footer {
  background-color: #DD9184;
  height: 80px;
  border-top: 1px solid rgb(0, 0, 0);
}
footer section .contactar {
  color: #224948;
  margin: 5px;
  text-decoration: underline;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
footer section .mail {
  color: #224948;
  margin: 5px;
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}
footer div {
  color: rgb(227, 237, 237);
}

.boton-1, main .grid-container-piel .link-comprar, main .grid-container-fragancias .link-comprar, main .link-comprar {
  background-color: #224948;
  color: #FFE7A9;
  margin: 10px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}

.img, main .grid-container-piel .item-6-piel img, main .grid-container-piel .item-5-piel img, main .grid-container-piel .item-4-piel img, main .grid-container-piel .item-3-piel img, main .grid-container-piel .item-2-piel img, main .grid-container-piel .item-1-piel img, main .grid-container-fragancias .item-6-fragancias img, main .grid-container-fragancias .item-5-fragancias img, main .grid-container-fragancias .item-4-fragancias img, main .grid-container-fragancias .item-3-fragancias img, main .grid-container-fragancias .item-2-fragancias img, main .grid-container-fragancias .item-1-fragancias img, main .container-maquillajes-2 .item-6-maquillaje img, main .container-maquillajes-2 .item-5-maquillaje img, main .container-maquillajes-2 .item-4-maquillaje img, main .container-maquillajes-1 .item-3-maquillaje img, main .container-maquillajes-1 .item-2-maquillaje img, main .container-maquillajes-1 .item-1-maquillaje img {
  padding: 10px;
  margin: 5px;
  height: 420px;
  width: 400px;
}

.parrafo, main .grid-container-piel .item-6-piel p, main .grid-container-piel .item-5-piel p, main .grid-container-piel .item-4-piel p, main .grid-container-piel .item-3-piel p, main .grid-container-piel .item-2-piel p, main .grid-container-piel .item-1-piel p, main .grid-container-fragancias .item-6-fragancias p, main .grid-container-fragancias .item-5-fragancias p, main .grid-container-fragancias .item-4-fragancias p, main .grid-container-fragancias .item-3-fragancias p, main .grid-container-fragancias .item-2-fragancias p, main .grid-container-fragancias .item-1-fragancias p, main .container-maquillajes-2 .item-6-maquillaje p, main .container-maquillajes-2 .item-5-maquillaje p, main .container-maquillajes-2 .item-4-maquillaje p, main .container-maquillajes-1 .item-3-maquillaje p, main .container-maquillajes-1 .item-2-maquillaje p, main .container-maquillajes-1 .item-1-maquillaje p {
  padding: 10px;
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

main .maquillajes {
  color: #DD9184;
  text-align: center;
  text-decoration: none;
  text-shadow: 5px 5px 5px;
  font-size: 20px;
  padding-top: 15px;
}
main .container-maquillajes-1 .item-2-maquillaje {
  grid-area: item-2;
}
main .container-maquillajes-1 .item-3-maquillaje {
  grid-area: item-3;
}
main .container-maquillajes-2 .item-4-maquillaje {
  grid-area: item-4;
}
main .container-maquillajes-2 .item-5-maquillaje {
  grid-area: item-5;
}
main .container-maquillajes-2 .item-6-maquillaje {
  grid-area: item-6;
}
.boton-1, main .grid-container-piel .link-comprar, main .grid-container-fragancias .link-comprar, main .link-comprar {
  background-color: #224948;
  color: #FFE7A9;
  margin: 10px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}

.img, main .grid-container-piel .item-6-piel img, main .grid-container-piel .item-5-piel img, main .grid-container-piel .item-4-piel img, main .grid-container-piel .item-3-piel img, main .grid-container-piel .item-2-piel img, main .grid-container-piel .item-1-piel img, main .grid-container-fragancias .item-6-fragancias img, main .grid-container-fragancias .item-5-fragancias img, main .grid-container-fragancias .item-4-fragancias img, main .grid-container-fragancias .item-3-fragancias img, main .grid-container-fragancias .item-2-fragancias img, main .grid-container-fragancias .item-1-fragancias img, main .container-maquillajes-1 .item-1-maquillaje img, main .container-maquillajes-1 .item-2-maquillaje img, main .container-maquillajes-1 .item-3-maquillaje img, main .container-maquillajes-2 .item-4-maquillaje img, main .container-maquillajes-2 .item-5-maquillaje img, main .container-maquillajes-2 .item-6-maquillaje img {
  padding: 10px;
  margin: 5px;
  height: 420px;
  width: 400px;
}

.parrafo, main .grid-container-piel .item-6-piel p, main .grid-container-piel .item-5-piel p, main .grid-container-piel .item-4-piel p, main .grid-container-piel .item-3-piel p, main .grid-container-piel .item-2-piel p, main .grid-container-piel .item-1-piel p, main .grid-container-fragancias .item-6-fragancias p, main .grid-container-fragancias .item-5-fragancias p, main .grid-container-fragancias .item-4-fragancias p, main .grid-container-fragancias .item-3-fragancias p, main .grid-container-fragancias .item-2-fragancias p, main .grid-container-fragancias .item-1-fragancias p, main .container-maquillajes-1 .item-1-maquillaje p, main .container-maquillajes-1 .item-2-maquillaje p, main .container-maquillajes-1 .item-3-maquillaje p, main .container-maquillajes-2 .item-4-maquillaje p, main .container-maquillajes-2 .item-5-maquillaje p, main .container-maquillajes-2 .item-6-maquillaje p {
  padding: 10px;
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

main .fragancias {
  color: #DD9184;
  text-align: center;
  text-decoration: none;
  text-shadow: 5px 5px 5px;
  font-size: 20px;
  padding-top: 15px;
}
main .grid-container-fragancias {
  display: grid;
  grid-template-columns: repeat(3, 450px);
  grid-template-rows: repeat(4, 250px);
  grid-template-areas: "item-1 item-2 item-3" "item-1 item-2 item-3" "item-4 item-5 item-6" "item-4 item-5 item-6";
  justify-content: center;
  margin: 25px;
  padding: 15px;
  gap: 20px;
}
main .grid-container-fragancias .item-1-fragancias {
  grid-area: item-1;
}
main .grid-container-fragancias .item-2-fragancias {
  grid-area: item-2;
}
main .grid-container-fragancias .item-3-fragancias {
  grid-area: item-3;
}
main .grid-container-fragancias .item-4-fragancias {
  grid-area: item-4;
}
main .grid-container-fragancias .item-5-fragancias {
  grid-area: item-5;
}
main .grid-container-fragancias .item-6-fragancias {
  grid-area: item-6;
}
.boton-1, main .grid-container-piel .link-comprar, main .link-comprar, main .grid-container-fragancias .link-comprar {
  background-color: #224948;
  color: #FFE7A9;
  margin: 10px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}

.img, main .grid-container-piel .item-6-piel img, main .grid-container-piel .item-5-piel img, main .grid-container-piel .item-4-piel img, main .grid-container-piel .item-3-piel img, main .grid-container-piel .item-2-piel img, main .grid-container-piel .item-1-piel img, main .container-maquillajes-1 .item-1-maquillaje img, main .container-maquillajes-1 .item-2-maquillaje img, main .container-maquillajes-1 .item-3-maquillaje img, main .container-maquillajes-2 .item-4-maquillaje img, main .container-maquillajes-2 .item-5-maquillaje img, main .container-maquillajes-2 .item-6-maquillaje img, main .grid-container-fragancias .item-1-fragancias img, main .grid-container-fragancias .item-2-fragancias img, main .grid-container-fragancias .item-3-fragancias img, main .grid-container-fragancias .item-4-fragancias img, main .grid-container-fragancias .item-5-fragancias img, main .grid-container-fragancias .item-6-fragancias img {
  padding: 10px;
  margin: 5px;
  height: 420px;
  width: 400px;
}

.parrafo, main .grid-container-piel .item-6-piel p, main .grid-container-piel .item-5-piel p, main .grid-container-piel .item-4-piel p, main .grid-container-piel .item-3-piel p, main .grid-container-piel .item-2-piel p, main .grid-container-piel .item-1-piel p, main .container-maquillajes-1 .item-1-maquillaje p, main .container-maquillajes-1 .item-2-maquillaje p, main .container-maquillajes-1 .item-3-maquillaje p, main .container-maquillajes-2 .item-4-maquillaje p, main .container-maquillajes-2 .item-5-maquillaje p, main .container-maquillajes-2 .item-6-maquillaje p, main .grid-container-fragancias .item-1-fragancias p, main .grid-container-fragancias .item-2-fragancias p, main .grid-container-fragancias .item-3-fragancias p, main .grid-container-fragancias .item-4-fragancias p, main .grid-container-fragancias .item-5-fragancias p, main .grid-container-fragancias .item-6-fragancias p {
  padding: 10px;
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

main .cuidado-de-la-piel {
  color: #DD9184;
  text-align: center;
  text-decoration: none;
  text-shadow: 5px 5px 5px;
  font-size: 20px;
  padding-top: 15px;
}
main .tips-piel {
  border-bottom: 1px solid black;
}
main .cuidado-piel {
  display: flex;
  justify-content: center;
}
main .cuidado-piel img {
  width: 45%;
  margin: 15px;
  border: 1px solid black;
  border-radius: 5px;
  transition: 1s;
}
main .cuidado-piel img:hover {
  transform: rotate(40deg);
}
main .texto-informativo li {
  background-color: #224948;
  color: #FFE7A9;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
main .grid-container-piel {
  display: grid;
  grid-template-columns: repeat(3, 450px);
  grid-template-rows: repeat(4, 250px);
  grid-template-areas: "item-1 item-2 item-3" "item-1 item-2 item-3" "item-4 item-5 item-6" "item-4 item-5 item-6";
  justify-content: center;
  margin: 25px;
  padding: 15px;
  gap: 20px;
}
main .grid-container-piel .item-1-piel {
  grid-area: item-1;
}
main .grid-container-piel .item-2-piel {
  grid-area: item-2;
}
main .grid-container-piel .item-3-piel {
  grid-area: item-3;
}
main .grid-container-piel .item-4-piel {
  grid-area: item-4;
}
main .grid-container-piel .item-5-piel {
  grid-area: item-5;
}
main .grid-container-piel .item-6-piel {
  grid-area: item-6;
}
main .sobre-nosotros {
  color: #DD9184;
  text-align: center;
  text-decoration: none;
  text-shadow: 5px 5px 5px;
  font-size: 20px;
  padding-top: 15px;
}

.boton-1, main .link-comprar, main .grid-container-fragancias .link-comprar, main .grid-container-piel .link-comprar {
  background-color: #224948;
  color: #FFE7A9;
  margin: 10px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}

.img, main .container-maquillajes-1 .item-1-maquillaje img, main .container-maquillajes-1 .item-2-maquillaje img, main .container-maquillajes-1 .item-3-maquillaje img, main .container-maquillajes-2 .item-4-maquillaje img, main .container-maquillajes-2 .item-5-maquillaje img, main .container-maquillajes-2 .item-6-maquillaje img, main .grid-container-fragancias .item-1-fragancias img, main .grid-container-fragancias .item-2-fragancias img, main .grid-container-fragancias .item-3-fragancias img, main .grid-container-fragancias .item-4-fragancias img, main .grid-container-fragancias .item-5-fragancias img, main .grid-container-fragancias .item-6-fragancias img, main .grid-container-piel .item-1-piel img, main .grid-container-piel .item-2-piel img, main .grid-container-piel .item-3-piel img, main .grid-container-piel .item-4-piel img, main .grid-container-piel .item-5-piel img, main .grid-container-piel .item-6-piel img {
  padding: 10px;
  margin: 5px;
  height: 420px;
  width: 400px;
}

.parrafo, main .container-maquillajes-1 .item-1-maquillaje p, main .container-maquillajes-1 .item-2-maquillaje p, main .container-maquillajes-1 .item-3-maquillaje p, main .container-maquillajes-2 .item-4-maquillaje p, main .container-maquillajes-2 .item-5-maquillaje p, main .container-maquillajes-2 .item-6-maquillaje p, main .grid-container-fragancias .item-1-fragancias p, main .grid-container-fragancias .item-2-fragancias p, main .grid-container-fragancias .item-3-fragancias p, main .grid-container-fragancias .item-4-fragancias p, main .grid-container-fragancias .item-5-fragancias p, main .grid-container-fragancias .item-6-fragancias p, main .grid-container-piel .item-1-piel p, main .grid-container-piel .item-2-piel p, main .grid-container-piel .item-3-piel p, main .grid-container-piel .item-4-piel p, main .grid-container-piel .item-5-piel p, main .grid-container-piel .item-6-piel p {
  padding: 10px;
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 1024px) {
  header .boton-busqueda {
    display: none;
  }
  header body {
    background-color: red;
  }
  header input {
    display: none;
  }
  main .container-principal {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main .container-principal .container-imagen img {
    width: 450px;
    margin: 25px;
    border-radius: 10px;
    border: 1px solid rgb(106, 104, 104);
  }
  .grid-container {
    display: none;
  }
  .container-maquillajes-1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
    padding: 10px;
    gap: 75px;
  }
  .container-maquillajes-1 img {
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    gap: 40px;
  }
  .container-maquillajes-2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
    padding: 10px;
    gap: 75px;
  }
  .container-maquillajes-2 img {
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    gap: 40px;
  }
}
@media (min-width: 1025px) {
  main .container-maquillajes-1 {
    display: flex;
    margin: 40px;
    padding: 10px;
    gap: 75px;
  }
  main .container-maquillajes-2 {
    display: flex;
    margin: 40px;
    padding: 10px;
    gap: 75px;
  }
}
.boton-1, main .link-comprar, main .grid-container-fragancias .link-comprar, main .grid-container-piel .link-comprar {
  background-color: #224948;
  color: #FFE7A9;
  margin: 10px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
}

.img, main .container-maquillajes-1 .item-1-maquillaje img, main .container-maquillajes-1 .item-2-maquillaje img, main .container-maquillajes-1 .item-3-maquillaje img, main .container-maquillajes-2 .item-4-maquillaje img, main .container-maquillajes-2 .item-5-maquillaje img, main .container-maquillajes-2 .item-6-maquillaje img, main .grid-container-fragancias .item-1-fragancias img, main .grid-container-fragancias .item-2-fragancias img, main .grid-container-fragancias .item-3-fragancias img, main .grid-container-fragancias .item-4-fragancias img, main .grid-container-fragancias .item-5-fragancias img, main .grid-container-fragancias .item-6-fragancias img, main .grid-container-piel .item-1-piel img, main .grid-container-piel .item-2-piel img, main .grid-container-piel .item-3-piel img, main .grid-container-piel .item-4-piel img, main .grid-container-piel .item-5-piel img, main .grid-container-piel .item-6-piel img {
  padding: 10px;
  margin: 5px;
  height: 420px;
  width: 400px;
}

.parrafo, main .container-maquillajes-1 .item-1-maquillaje p, main .container-maquillajes-1 .item-2-maquillaje p, main .container-maquillajes-1 .item-3-maquillaje p, main .container-maquillajes-2 .item-4-maquillaje p, main .container-maquillajes-2 .item-5-maquillaje p, main .container-maquillajes-2 .item-6-maquillaje p, main .grid-container-fragancias .item-1-fragancias p, main .grid-container-fragancias .item-2-fragancias p, main .grid-container-fragancias .item-3-fragancias p, main .grid-container-fragancias .item-4-fragancias p, main .grid-container-fragancias .item-5-fragancias p, main .grid-container-fragancias .item-6-fragancias p, main .grid-container-piel .item-1-piel p, main .grid-container-piel .item-2-piel p, main .grid-container-piel .item-3-piel p, main .grid-container-piel .item-4-piel p, main .grid-container-piel .item-5-piel p, main .grid-container-piel .item-6-piel p {
  padding: 10px;
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
}

/*# sourceMappingURL=style.css.map */
