/*ESTILOS*/

body{
    background-color:#ebe1c7;
    font-style: oblique;
}

main{

    .container-principal{
        display: flex;
        justify-content: center;
        align-items: center;

        .container-imagen{
            img{
                width: 45rem;
               margin: 25px;
               border-radius: 10px;
               border: 1px solid rgb(106, 104, 104);
            }
        }
    }

    section{

        div{
            p.texto-central{
               color: #FFE7A9;
               background-color: #224948;
               padding: 10px;
               border-radius: 10px;
               margin: 20px;
               text-decoration: underline;
           
           }
       }

       .container-h2{
        align-self: center;
        margin-left: 25px;
    
    }

        h2{
            text-align:center;

            span{
                color: #DD9184;
                text-decoration: underline;
            }
        }

    }  

}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 190px);
    margin: 25px;
    gap: 10px;

    .grid-item-1{
    
        grid-column: 1/2;
        grid-row: 1/4;

        img{
            padding: 5px;
            height: 590px;
            width: 450px;
        }
    }

    .grid-item-2{
        grid-column: 2/3;
        grid-row: 1/4;

        img{
            padding: 5px;
            height: 590px;
            width: 450px;
        }
    }

    .grid-item-3{
        grid-column: 3/4;
        grid-row: 1/4; 
        
        img{
            padding: 5px;
            height: 590px;
            width: 450px;
        }
    }
}