@mixin flex{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

@mixin flex-2{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
    padding: 10px;
    gap: 75px;
}

@mixin flex-3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    padding: 10px;
    gap: 75px;
}

@mixin grid{
    display: grid;
    grid-template-columns: repeat(3, 450px);
    grid-template-rows: repeat(4, 250px);
    grid-template-areas:
    "item-1 item-2 item-3"
    "item-1 item-2 item-3"
    "item-4 item-5 item-6"
    "item-4 item-5 item-6";
    justify-content: center;
    margin: 25px;
    padding: 15px;
    gap: 20px;


}

@mixin flex-variables($flex, $justify, $align, $margin, $padding){
    display: $flex;
    justify-content: $justify;
    align-items: $align;
    margin: $margin;
    padding: $padding;

}

@mixin grid-2{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 100px);
    grid-template-areas:
    "item-1"
    "item-1"
    "item-2"
    "item-2"
    "item-3"
    "item-3"
    "item-4"
    "item-4"
    "item-5"
    "item-5"
    "item-6"
    "item-6";
    justify-content: center;
    margin: 10px;
    padding: 5px;
    gap: 10px;
}