@import "../utilities/variables";
@import "../utilities/mixins";
@import "../utilities/extends";

main{
  .fragancias{
      color: $color-titulos;
      text-align: center;
      text-decoration: none;
      text-shadow: 5px 5px 5px;
      font-size: 20px;
      padding-top: 15px;
  }



.container-fragancias-1{

  .item-1-fragancias{

      img{
          @extend .img;
      }

      p{
          @extend.parrafo;
      }
  }
  
  .item-2-fragancias{

      img{
         @extend.img;
      }

      p{
          @extend .parrafo;
      }
  }
  
  .item-3-fragancias{
      

      img{
        @extend .img;
   
      }

      p{
        @extend .parrafo;
      }
  }
}


  .container-fragancias-2{
  
  .item-4-fragancias{
      

      img{
         @extend .img;
      }

      p{
          @extend .parrafo;
      }
  }
  
  .item-5-fragancias{

      img{
         @extend .img;
      }

      p{
          @extend .parrafo;
      }
  }
  
  .item-6-fragancias{

      img{
          @extend .img;
      }

      p{
          @extend .parrafo;
      }
  }
  
}

  
.link-comprar{
    @extend .boton-1;
  }
 }

