@import "../utilities/variables";
@import "../utilities/mixins";
@import "../utilities/extends";

main{
  .fragancias{
      color: $color-titulos;
      text-align: center;
      text-decoration: none;
      text-shadow: 5px 5px 5px;
      font-size: 20px;
      padding-top: 15px;
  }



.grid-container-fragancias{
   @include grid;

  .item-1-fragancias{
      grid-area: item-1;

      img{
          @extend .img;
      }

      p{
          @extend.parrafo;
      }
  }
  
  .item-2-fragancias{
      grid-area: item-2;

      img{
         @extend.img;
      }

      p{
          @extend .parrafo;
      }
  }
  
  .item-3-fragancias{
      grid-area: item-3;

      img{
        @extend .img;
   
      }

      p{
        @extend .parrafo;
      }
  }
  
  .item-4-fragancias{
      grid-area: item-4;

      img{
         @extend .img;
      }

      p{
          @extend .parrafo;
      }
  }
  
  .item-5-fragancias{
      grid-area: item-5;

      img{
         @extend .img;
      }

      p{
          @extend .parrafo;
      }
  }
  
  .item-6-fragancias{
      grid-area: item-6;

      img{
          @extend .img;
      }

      p{
          @extend .parrafo;
      }
  }

  
.link-comprar{
    @extend .boton-1;
  }
 }
    
}
