main{
    .cuidado-de-la-piel{
        color: $color-titulos;
        text-align: center;
        text-decoration: none;
        text-shadow: 5px 5px 5px;
        font-size: 20px;
        padding-top: 15px;
    }

    .tips-piel{
        border-bottom: 1px solid black;
    
    }

    .cuidado-piel{
        display: flex;
        justify-content: center;

        img{
            width: 35%;
            margin: 15px;
            border: 1px solid black;
            border-radius: 5px;
        }
    }

    .texto-informativo{
        li{
            background-color:$color-verde;
            color:$color-principal;
            border: 1px solid grey;
            border-radius: 5px;
            padding: 10px;
            margin: 10px;
        }
    }

    .grid-container-piel{
        display: grid;
        grid-template-columns: repeat(3, 450px);
        grid-template-rows: repeat(4, 250px);
        grid-template-areas:
        "item-1 item-2 item-3"
        "item-1 item-2 item-3"
        "item-4 item-5 item-6"
        "item-4 item-5 item-6";
        justify-content: center;
        margin: 25px;
        padding: 15px;
        gap: 20px;

        .item-1-piel{
            grid-area: item-1;

            img{
                padding: 10px;
                margin: 5px;
                height: 420px;
                width: 400px;
            }

            p{
                padding: 10px;
                margin: 5px;
                font-family: Arial, Helvetica, sans-serif;
            }
        }
        
        .item-2-piel{
            grid-area: item-2;

            img{
                padding: 10px;
                margin: 5px;
                height: 420px;
                width: 400px;
            }

            p{
                padding: 10px;
                margin: 5px;
                font-family: Arial, Helvetica, sans-serif;
            }
        }
        
        .item-3-piel{
            grid-area: item-3;

            img{
                padding: 10px;
                margin: 5px;
                height: 420px;
                width: 400px;
            }

            p{
                padding: 10px;
                margin: 5px;
                font-family: Arial, Helvetica, sans-serif;
            }
            
        }
        
        .item-4-piel{
            grid-area: item-4;

            img{
                padding: 10px;
                margin: 5px;
                height: 420px;
                width: 400px;
            }

            p{
                padding: 10px;
                margin: 5px;
                font-family: Arial, Helvetica, sans-serif;
            }
        }
        
        .item-5-piel{
            grid-area: item-5;

            img{
                padding: 10px;
                margin: 5px;
                height: 420px;
                width: 400px;
            }

            p{
                padding: 10px;
                margin: 5px;
                font-family: Arial, Helvetica, sans-serif;
            }
        }
        
        .item-6-piel{
            grid-area: item-6;

            img{
                padding: 10px;
                margin: 5px;
                height: 420px;
                width: 400px;
            }

            p{
                padding: 10px;
                margin: 5px;
                font-family: Arial, Helvetica, sans-serif;
            }
        }

        .link-comprar{
            background-color: #224948;
            color: #FFE7A9;
            margin: 10px;
            padding: 5px;
            border: 1px solid black;
            border-radius: 5px;
            text-align: center;
            text-decoration: none;
             }

    }


    
}