@import "../utilities/variables";
@import "../utilities/extends";
@import "../utilities/mixins";

main{
    .cuidado-de-la-piel{
        color: $color-titulos;
        text-align: center;
        text-decoration: none;
        text-shadow: 5px 5px 5px;
        font-size: 20px;
        padding-top: 15px;

    }
    
    .tips-piel{
        border-bottom: 1px solid black;
    
    }

    .cuidado-piel{
        display: flex;
        justify-content: center;

        img{
            width: 45%;
            margin: 15px;
            border: 1px solid black;
            border-radius: 5px;
            transition: 1s;
        }

         & img:hover{
            transform: rotate(40deg);
        }

    }

    .texto-informativo{
        li{
            background-color:$color-verde;
            color:$color-principal;
            border: 1px solid grey;
            border-radius: 5px;
            padding: 10px;
            margin: 10px;
        }
    }
    

    .grid-container-piel{
     @include grid;
    
     .item-1-piel{
        grid-area: item-1;
  
        img{
            @extend .img;
        }
  
        p{
            @extend.parrafo;
        }
    }
    
    .item-2-piel{
        grid-area: item-2;
  
        img{
           @extend.img;
        }
  
        p{
            @extend .parrafo;
        }
    }
    
    .item-3-piel{
        grid-area: item-3;
  
        img{
          @extend .img;
     
        }
  
        p{
          @extend .parrafo;
        }
    }
    
    .item-4-piel{
        grid-area: item-4;
  
        img{
           @extend .img;
        }
  
        p{
            @extend .parrafo;
        }
    }
    
    .item-5-piel{
        grid-area: item-5;
  
        img{
           @extend .img;
        }
  
        p{
            @extend .parrafo;
        }
    }
    
    .item-6-piel{
        grid-area: item-6;
  
        img{
            @extend .img;
        }
  
        p{
            @extend .parrafo;
        }
    }
    .link-comprar{
        @extend .boton-1;
    }

    }
}


