main{
    .sobre-nosotros{
        color: $color-titulos;
        text-align: center;
        text-decoration: none;
        text-shadow: 5px 5px 5px;
        font-size: 20px;
        padding-top: 15px;
    }
    
}