main{
    .sobre-nosotros{
        color: $color-titulos;
        text-align: center;
        text-decoration: none;
        text-shadow: 5px 5px 5px;
        font-size: 20px;
        padding-top: 15px;
    }
    
}

main{
    section{
        .foto-info-1{
            display: flex;
            justify-content: center;
            
            img{
                width: 45%;
                margin: 25px;
            }
        }
    }

    section{
        .foto-info-2{
            display: flex;
            justify-content: center;

            img{
                width: 45%;
                margin: 25px;
            }
        }
    }
}